<form class="form-inline">
    <div class="form-group">
        <label for="name">Name</label>
        <input ng-model="newUser.user.name" type="text" class="form-control" id="name" placeholder="Name" autofocus>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input ng-model="newUser.user.email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
    </div>
    <div class="form-group">
          <label for="phoneId">Phone</label>
          <input ng-model="newUser.user.phone" type="text" class="form-control" id="phoneId" placeholder="Phone">
      </div>

    <button type="submit" class="btn btn-default" ng-click="newUser.save(newUser.user)">Save</button>
</form>