<div class="ui  segment">
    <p>
    <h2>This is title</h2>
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A asperiores autem culpa dicta eaque est eum illum
        incidunt iste magnam,
        minus officia porro praesentium sint soluta tempore ut voluptate voluptates!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam architecto debitis dignissimos ducimus expedita facere hic
        , incidunt maxime modi nisi officiis pariatur perspiciatis praesentium repellendus sapiente sunt? Eveniet, excepturi.
    </p>
    <p>
    <div class="ui form">
        <div class="field">
            <textarea placeholder="Type to answer"></textarea>
        </div>
    </div>
    </p>
</div>
</p>

