<form class="form-inline" ng-if="editUser.edit">
    <div class="form-group">
        <input type="text" class="form-control" id="username" ng-model="editUser.user.name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="phone" ng-model="editUser.user.phone">
    </div>

    <div class="form-group">
        <input type="email" ng-model="editUser.user.email" class="form-control">
    </div>
    <button type="submit" class="btn btn-success" ng-click="editUser.update(editUser.user)">Save</button>
    <button type="submit" class="btn btn-danger" ng-click="editUser.edit = false">Cancel</button>
</form>

