<div class="list-group">
    <a href="#" class="list-group-item active clearfix">
        Contact List
        <button style="float: right" class="btn btn-success" ng-click="newUser = !newUser">Add new+</button>
    </a>
    <span ng-if="!userList.users">Loading...</span>
    <div ng-if="newUser" class="new-user">
        <new-user user-list="userList.users"></new-user>
    </div>

    <a ng-repeat="user in userList.users track by $index" href="#"
       class="list-group-item">
        <user user="user"></user>
    </a>
</div>
