<div ng-dblclick="userCtrl.onEditUser()">
    <table>
        <tr>
            <td>
                <span>{{userCtrl.user.name}}</span>
            </td>
            <td>
                <span>{{userCtrl.user.surname}}</span>
            </td>
            <td>
                <span><span class="glyphicon glyphicon-phone"></span>{{userCtrl.user.phone}}</span>
            </td>
            <td>
                <span><span class="glyphicon glyphicon-envelope"></span>{{userCtrl.user.email}}</span>
            </td>
            <td>
                    <span>
             <a href="" ng-click="userCtrl.remove()">Remove</a>
             <a href="" ng-click="userCtrl.onEditUser()">Edit</a>
     </span>
            </td>
        </tr>
    </table>


    <div ng-if="userCtrl.edit">
        <hr/>
        <edit-user edit="userCtrl.edit" user="userCtrl.editUser"></edit-user>
    </div>
</div>

