<table ng-click="msg.open({id:1})" class="message ui very basic table message-red">
    <colgroup>
        <col class="message__checkbox-cell">
        <col class="message__mark-cell">
        <col class="message__important-cell">
        <col class="message__title-cell">
        <col class="message__short-text-cell">
        <col class="message__date-cell">
    </colgroup>
    <tr>
        <td class="right aligned">
            <input type="checkbox">
        </td>
        <td>
            <i class="empty star icon"></i>
        </td>
        <td>
            <i class="bullseye icon"></i>
        </td>
        <td>
          Title name
        </td>
        <td>
            <div class="message__short-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam corporis, dolores eaque eveniet, iure labore magnam mollitia nemo nulla omnis quae quod, sit. A asperiores expedita impedit non, ratione repudiandae!
            </div>
        </td>
        <td>
            16 feb
        </td>
    </tr>
</table>